@model Proyecto_Integrador.Models.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/CSS/Login.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="card card-container">
            
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            
                @using (Html.BeginForm("SignIn", "Usuarios", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <span id="reauth-email" class="reauth-email"></span>
                    <input type="email" name="Correo" id="Correo" class="form-control" placeholder="Email address" required autofocus>
                    <input type="password" name="Password" id="Password" class="form-control" placeholder="Password" required>
                    <div id="remember" class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
                }
               
        </div>
    </div>
</body>

