@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    var nombre = User.Identity.GetUserName().Split('-');
    using (Html.BeginForm("LogOff", "Usuarios", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
       @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                
                @Html.ActionLink("Hola " + nombre[0] + "!", "Edit", "Usuarios", routeValues: new { id = (int?)int.Parse(User.Identity.GetUserId()) },htmlAttributes: new { @style = "color:white" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()" style="color:white">Cerrar sesión</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Registrarse", "Create", "Usuarios", routeValues: null, htmlAttributes: new { id ="registerLink", @style = "color:white" })
    </li>
    <li>
        @Html.ActionLink("Iniciar sesión", "SignIn", "Usuarios", routeValues: null, htmlAttributes: new { id ="loginLink", @style = "color:white" })
</li>
</ul>
}
